/* General */

*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    margin: 0;
}
/* Header */

header{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar{
    display: flex;
    gap: 400px;
    align-items: center;
    padding: 20px 0 20px 0;
}

.nav-bar .logo{
    font-size: 25px;
    color: #E5E7EB;
}

.nav-bar .nav-link{
    font-size: 18px;
    color: #E5E7EB;
    padding-right: 10px;
    padding: 5px;
    background-color: #131922;
    border-radius: 5px;
}

.nav-bar a{
    text-decoration: none;
}

.container1{
    display: flex;
    gap: 300px;
    padding: 20px 0 20px 0;
}

.web-awesome{
    width: 470px;
    color: #E5E7EB;
}

.web-awesome span{
    font-size: 48px;
    font-weight: 900;
}

.web-awesome p{
    font-size: 18px;
}

.web-awesome button{
    background-color: #3882F6;
    /* border-color: #E5E7EB; */
    color: #E5E7EB;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
}

.placeholder{
    width: 350px;
    height: 200px;
    background-color: ghostwhite;
    text-align: center;
    border-radius: 10px;
}

.placeholder p{
    margin: 90px 0 0 0;
}


/* Main */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .main */

.main{
    text-align: center;
}

.card-img{
    width: 100%;
    /* max-width: 1200px; */
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    text-align: center;
    /* position: static; */
}

.card-img .card{
    width: 200px;
    /* height: 180px; */
    margin: 10px 20px 10px 20px;
}

.card-img .card img{
    width: 190px;
    height: 120px;
    border: 5px solid #3882F6;
    border-radius: 10px;
    margin: 0 10px 0 10px;
}

.card-img .card p{
    font-size: 12px;
    margin: 10px 10px 10px 30px;
}
/* Quote */

.quote1{
    background-color: #E5E7EB;
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote p{
    width: 450px;
    font-style: italic;
    color: #1F2937;
    font-size: 20px;
}

.quoter{
    position: relative;
    left: 80%;
    font-size: 18px;
    color: #1F2937;
}

/* Text */

.text{
    background-color: #3882F6;
    width: 900px;
    height: 150px;
    margin: 35px auto 25px auto;
    border-radius: 30px;
}

.text .text1{
    position: relative;
    left: 10%;
    top: 20%;
    color: #E5E7EB;
    font-weight: 900;
    font-size: 20px;
}

.text .text2{
    position: relative;
    left: 10%;
    top: 22%;
    color: #E5E7EB;
    font-weight: 700;
    font-size: 16px;
}

.text .btn1{
    position: relative;
    left: 85%;
    bottom: 25%;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 14px;
    font-weight: 800;
    border-color: #E5E7EB;
}
/* Footer */

.footer{
    background-color: #1F2937;
    height: 60px;
}

.footer p{
    color: #E5E7EB;
    font-size: 15px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 40%;
}